---
import { getGitInfo } from "@/lib/git";
import { getCollection } from "astro:content";
import BlogListLayout from "@/layouts/blog-list-layout.astro";
import { BlogCard } from "@/components/layout/blog-card";

export async function getStaticPaths() {
  const slugs = (await getCollection('blog')).filter(entry => entry.id.endsWith('index.md'));
  const blogs = (await getCollection('blog')).filter(entry => !entry.id.endsWith('index.md'));
  const blogsWithGitInfo = await Promise.all(
    blogs.map(async (post) => {
      const gitInfo = await getGitInfo("./src/content/blog/" + post.id);
      if(gitInfo === null) {
        return post;
      } else {
        return { ...post, data: { ...gitInfo, ...(post.data || {})} }
      }
    })
  );

  return slugs.map((entry) => ({
    params: { slug: entry.slug },
    props: {
      entry,
      blogs: blogsWithGitInfo.filter(blog => blog.slug.startsWith(entry.slug + "/")),
    }
  }));
}

const { entry, blogs } = Astro.props;
const { Content } = await entry.render();
---
<BlogListLayout title={entry.data.title} description={entry.data.description}>
  <div class="mt-5 text-center">
    <Content />
  </div>
  
  <ul class="flex flex-col">
    {blogs.map(blog => (
      <li>
        <BlogCard slug={blog.slug} title={blog.data.title} pubDate={blog.data.pubDate} description={blog.data.description} />
      </li>
    ))}
  </ul>
</BlogListLayout>
